div(ng-include='\'partials/navbar\'')

.jumbotron
  h1
    | Startup Founders

  //-p.lead
    | Work Experience of Startup Founders
.row.marketing
  .stats
    .stat
      | Pure Serial | Worked then Serial | Worked then One Startup : {{stats.pureSerialPercent | number:2}}% | {{stats.workerSerialPercent | number:2}}% | {{stats.workerPercent| number:2}}%
  div(ng-repeat='founder in founders')
    h4 {{founder.name}}
    //-h4(ng-show='founder.foundedStartups.length') Startups Founded
    div(ng-repeat='startup in founder.foundedStartups')
      p {{startup}}
    h4(ng-show='founder.workExperience.length') Work Experience
    div(ng-repeat='experience in founder.workExperience')
      p {{experience.companyName}} - {{experience.startYear}} to {{experience.endYear}}

.footer
  p ♥ from San Francisco